global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode tcp
    option dontlognull
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend k3s_api
    bind 10.10.10.20:6443
    default_backend k3s_api_backend

backend k3s_api_backend
    balance roundrobin
    option tcp-check
    server k3s-srv-01 10.10.10.21:6443 check
    server k3s-srv-02 10.10.10.22:6443 check
    server k3s-srv-03 10.10.10.23:6443 check
