DOTNET_ENVIRONMENT=Production
APP_NAME={{ app_name }}
ConnectionStrings__Main=Host=127.0.0.1;Port=5432;Database={{ postgres_db }};Username={{ postgres_user }};Password={{ postgres_password }}
{% for env_key, env_value in (app_env | default({})).items() %}
{{ env_key }}={{ env_value }}
{% endfor %}
