#!/usr/bin/env bash
set -euo pipefail

TS=$(date +%Y%m%d-%H%M%S)

{% for app in applications %}
pg_dump -d {{ app.db }} -Fc -f "/opt/postgres/backups/{{ app.db }}-${TS}.dump"
echo "Created /opt/postgres/backups/{{ app.db }}-${TS}.dump"
{% endfor %}

find /opt/postgres/backups -type f -mtime +{{ backup_retention_days }} -delete
