[defaults]
inventory          = inventory/hosts.ini
# Reuse the Ansible roles from k3s/ — they are identical.
roles_path         = ../../k3s/infra/ansible/roles
host_key_checking  = False
interpreter_python = auto_silent
stdout_callback    = default
result_format      = yaml

[privilege_escalation]
become          = True
become_method   = sudo
become_ask_pass = False
